<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link
        rel="stylesheet"
        href="https://unpkg.com/react-bootstrap-typeahead/css/Typeahead.css"
/>
<style>
    *{
        font-family: 'Roboto'
    }
</style>
